{% extends 'TransEditBundle::trans_base.html.twig' %}

{% block pageHeader %}
    Global error
{% endblock %}

{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-6">
            <div class="alert alert-danger">
                <b>Can't get translations data!</b></br></br>
                Check parameter 'translation_values_file' in config.yml.</br>
                <span>Example of using:</span></br>
                <span>trans_edit:</span></br>
                <span style="margin-left:20px">translation_values_file:</span></br>
                <span style="margin-left:40px">file_name: bundles/udocore/static/translations.json</span></br>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
