{% extends 'TransEditBundle::trans_base.html.twig' %}

{% block pageHeader %}
    Global error
{% endblock %}

{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-6">
            <div class="alert alert-danger">
                Can't get translations data!</br>
                Check parameter 'translation_values_file' in file parameters.yml.
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
