{% extends 'TransEditBundle::trans_base.html.twig' %}

{% block pageHeader %}
    Remove locale
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-success">
                Locale was removed!
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
